annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
click==8.4.2
cloudpickle==3.1.2
et_xmlfile==2.0.0
fastapi==0.141.1
git-filter-repo==2.47.0
h11==0.16.0
httptools==0.8.0
idna==3.19
imbalanced-learn==0.14.2
joblib==1.5.3
lightgbm==4.7.0
llvmlite==0.49.0
narwhals==2.24.0
neo4j==6.2.0
numba==0.67.0
numpy==2.5.2
nvidia-nccl-cu13==2.31.2
openpyxl==3.1.5
packaging==26.3
pandas==3.0.5
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
python-multipart==0.0.32
pytz==2026.3.post1
PyYAML==6.0.3
scikit-learn==1.9.0
scipy==1.18.0
shap==0.52.0
six==1.17.0
sklearn-compat==0.1.6
slicer==0.0.8
starlette==1.6.0
threadpoolctl==3.6.0
tqdm==4.70.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.52.4
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.0.1
xgboost==3.4.1
